<%= turbo_stream.replace "urls-table" do %>
  <div data-urls-target="urlsTable">
    <%= render partial: "urls_table", locals: { urls: @urls } %>
  </div>
<% end %>

<%= turbo_stream.replace "success-message" do %>
  <div data-urls-target="successMessage" class="p-4 bg-green-100 border border-green-400 text-green-700 rounded">
    <p>Short URL created successfully! Your Short URL: <%= @short_url.short_url %>, Original URL: <%= @url.target_url %>, Title: <%= @url.title %></p>
  </div>
<% end %>
